/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Animations
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(360deg);
    /* FF3.5+ */
    -ms-transform: rotate(360deg);
    /* IE9 */
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
    transform: rotate(360deg);
    zoom: 1;
  }
}
@-moz-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(360deg);
    /* FF3.5+ */
    -ms-transform: rotate(360deg);
    /* IE9 */
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
    transform: rotate(360deg);
    zoom: 1;
  }
}
@-o-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(360deg);
    /* FF3.5+ */
    -ms-transform: rotate(360deg);
    /* IE9 */
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
    transform: rotate(360deg);
    zoom: 1;
  }
}
@keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(360deg);
    /* FF3.5+ */
    -ms-transform: rotate(360deg);
    /* IE9 */
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
    transform: rotate(360deg);
    zoom: 1;
  }
}
body {
  *zoom: 1;
}
body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
#header .widget_product_search {
  clear: both;
}
#header .cart-contents {
  color: #474747;
}
#header .cart-contents:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f07a";
  background: #77cb6d;
  padding: .5em;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
}
#header .cart-contents .amount:after {
  content: " - ";
}
#header .cart-contents,
#header .nav.cart {
  line-height: 1;
}
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  width: 5em;
  font-family: "fontawesome";
}
.star-rating:before {
  content: "\f006\f006\f006\f006\f006";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  letter-spacing: 0.1em;
  letter-spacing: 0\9;
  color: #bebebe;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  letter-spacing: 0.1em;
  letter-spacing: 0\9;
}
.required {
  color: #c00;
  border: 0;
}
p.demo_store {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #db767b;
  z-index: 9999;
  margin-bottom: 0;
  padding: 1em 0;
  color: #fff;
  text-align: center;
  border-top: 0.207em solid #ffffff;
}
p.stars {
  position: relative;
  line-height: 1em;
  font-size: 1em;
  *zoom: 1;
}
p.stars:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
p.stars:before,
p.stars:after {
  content: "";
  display: table;
}
p.stars:after {
  clear: both;
}
p.stars a {
  display: block;
  position: relative;
  width: 1em;
}
p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
  font-family: "FontAwesome";
  content: "\f005";
  position: absolute;
  width: 5.3em;
  right: -5.3em;
  font-size: .5em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #999;
}
p.stars a.star-1:after {
  content: "\f005";
}
p.stars a.star-2:after {
  content: "\f005\f005";
}
p.stars a.star-3:after {
  content: "\f005\f005\f005";
}
p.stars a.star-4:after {
  content: "\f005\f005\f005\f005";
}
p.stars a.star-5:after {
  content: "\f005\f005\f005\f005\f005";
}
p.stars a:hover,
p.stars a.active {
  text-decoration: none;
}
p.stars a:hover:after,
p.stars a.active:after {
  color: #77cb6d;
}
.single-product #respond #commentform label {
  display: inline-block;
}
.single-product #respond #commentform .input-text,
.single-product #respond #commentform input[type="text"],
.single-product #respond #commentform textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.single-product #respond #commentform .comment-form-author,
.single-product #respond #commentform .comment-form-email {
  width: 48%;
}
.single-product #respond #commentform .comment-form-email {
  margin-right: 0;
}
.single-product #respond #commentform .comment-form-rating {
  clear: both;
}
.form-row.woocommerce-invalid.validate-required .chzn-single,
.form-row.woocommerce-invalid.validate-required .chzn-drop,
.form-row.woocommerce-invalid.validate-required select {
  border-color: #e69ea2;
  background-color: #ffffff;
}
.form-row.woocommerce-invalid.validate-required input.input-text {
  box-shadow: inset 0 0 0 1px #db767b;
  -webkit-box-shadow: inset 0 0 0 1px #db767b;
}
.form-row.woocommerce-validated.validate-required .chzn-single,
.form-row.woocommerce-validated.validate-required .chzn-drop,
.form-row.woocommerce-validated.validate-required select {
  border-color: #9ad893;
  background-color: #ffffff;
}
.form-row.woocommerce-validated.validate-required input.input-text {
  box-shadow: inset 0 0 0 1px #77cb6d;
  -webkit-box-shadow: inset 0 0 0 1px #77cb6d;
}
.form-row .input-text,
.form-row select {
  width: 100%;
  *width: 90%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.clear {
  *zoom: 1;
}
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.widget .product_list_widget {
  list-style: none;
}
.widget .product_list_widget li {
  *zoom: 1;
  border-bottom: 1px dotted #e6e6e6;
  margin: 0 0 1em;
  padding-bottom: 1em;
}
.widget .product_list_widget li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.widget .product_list_widget li:before,
.widget .product_list_widget li:after {
  content: "";
  display: table;
}
.widget .product_list_widget li:after {
  clear: both;
}
.widget .product_list_widget li img {
  width: 2.618em;
  height: auto;
  float: right;
}
.widget .product_list_widget li a {
  display: block;
}
.widget .product_list_widget li:last-child {
  margin: 0;
  border: none;
}
.widget_layered_nav ul {
  list-style: none;
}
.widget_layered_nav ul li .count {
  float: right;
}
.widget_layered_nav ul li.chosen a {
  background: #77cb6d;
  color: #fff;
  font-weight: bold;
  padding: .382em .618em;
}
.widget_layered_nav ul li.chosen a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f00d";
  font-size: .875em;
}
.widget_product_categories ul {
  list-style: none;
}
.widget_product_categories ul li .count {
  float: right;
}
.widget_login form {
  margin: 0;
}
.widget_login label {
  display: block;
}
.widget_login input[type=text],
.widget_login input[type=password] {
  width: 100%;
}
.widget_login p {
  margin-bottom: .53em;
}
.widget_login p:nth-child(3) {
  margin: .857em 0 0;
}
.widget_login p:nth-child(3) a {
  text-transform: uppercase;
  margin-left: 1em;
  font-size: .857em;
}
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
  background: #fff;
  border: 1px solid #77cb6d;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #77cb6d;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #e6e6e6;
}
.widget_price_filter .ui-slider-horizontal {
  height: 1em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.woocommerce_message,
.woocommerce_info,
.woocommerce_error,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  padding: 1em 1em 1em 3.706em;
  position: relative;
  margin-bottom: 1.618em;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
}
.woocommerce_message:before,
.woocommerce_info:before,
.woocommerce_error:before,
.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-error:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  position: absolute;
  top: 1.416em;
  left: 1.416em;
  padding-left: .541em;
}
.woocommerce_message .button,
.woocommerce_info .button,
.woocommerce_error .button,
.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button {
  float: right;
  font-size: .875em;
  margin-left: 1em;
  padding: .207em .618em;
}
.woocommerce_message:before,
.woocommerce-message:before {
  content: "\f00c";
  color: #77cb6d;
}
.woocommerce_info:before,
.woocommerce-info:before {
  content: "\f05a";
  color: #6c98c9;
}
.woocommerce_error:before,
.woocommerce-error:before {
  content: "\f00d";
  color: #db767b;
}
ul.woocommerce-error,
ul.woocommerce_error {
  margin-left: 0 !important;
  list-style: none;
}
.stock.out-of-stock:before,
.stock.in-stock:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
}
.stock.out-of-stock:before {
  content: "\f05c";
  color: #db767b;
}
.stock.in-stock:before {
  content: "\f05d";
  color: #77cb6d;
}
.onsale {
  display: block;
  padding: .334em .618em;
  text-align: center;
  background: #db767b;
  color: #fff;
  font-weight: bold;
  font-size: .857em;
  -webkit-border-radius: 0.207em;
  border-radius: 0.207em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity {
  position: relative;
  width: 4.236em;
  /* Disable input[type=number] buttons until the world is ready */
}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
}
.quantity .qty {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 4.236em;
  background: #474747;
  color: #f7f7f7;
}
.quantity .plus,
.quantity .minus {
  width: 2.291em;
  padding: 0;
  height: 50%;
  text-align: center;
  position: absolute;
  right: 0;
  border: 0;
  color: #fff;
  font-weight: 700;
  line-height: 1.618;
  background: #474747;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #77cb6d;
}
.quantity .plus {
  top: 0;
  -webkit-border-top-right-radius: 0.327em;
  -webkit-border-bottom-right-radius: 0.327em;
  border-top-right-radius: 0.327em;
  border-bottom-right-radius: 0.327em;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity .minus {
  bottom: 0;
  -webkit-border-top-right-radius: 0.327em;
  -webkit-border-bottom-right-radius: 0.327em;
  border-top-right-radius: 0.327em;
  border-bottom-right-radius: 0.327em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.products {
  *zoom: 1;
  list-style: none;
  position: relative;
}
ul.products:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
ul.products:before,
ul.products:after {
  content: "";
  display: table;
}
ul.products:after {
  clear: both;
}
ul.products li.product {
  width: 48%;
  float: left;
  clear: left;
  margin-bottom: 2.291em;
  text-align: center;
}
ul.products li.product:nth-child(2n) {
  float: right;
  clear: none;
}
ul.products li.product a {
  display: block;
  position: relative;
}
ul.products li.product a img {
  display: block;
  height: auto;
  margin: 0 auto 1.618em;
}
ul.products li.product h3 {
  font-size: 1em;
}
ul.products li.product .onsale {
  position: absolute;
  top: 1em;
  right: 1em;
  left: auto;
}
ul.products li.product .star-rating {
  margin: 0 auto .618em;
}
ul.products li.product .price {
  display: block;
  margin-bottom: .618em;
}
ul.products li.product .button {
  margin-bottom: .618em;
}
ul.products li.product .button,
ul.products li.product .added_to_cart {
  display: inline-block;
  -webkit-transition: opacity ease 0.4s;
  -moz-transition: opacity ease 0.4s;
  -ms-transition: opacity ease 0.4s;
  -o-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
  padding: .382em .618em;
}
ul.products li.product .button.loading:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  text-align: right;
  content: "\f021";
  -webkit-animation: spin-360 1s infinite linear;
  -moz-animation: spin-360 1s infinite linear;
  -o-animation: spin-360 1s infinite linear;
  animation: spin-360 1s infinite linear;
}
ul.products li.product .button.added:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  text-align: right;
  content: "\f00c";
}
ul.products li.product .added_to_cart {
  width: 2.618em;
  padding: .382em;
  text-indent: -999em;
  position: relative;
}
ul.products li.product .added_to_cart:after {
  content: "\f07a";
  font-family: "FontAwesome";
  display: block;
  text-indent: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 3;
  text-align: center;
  font-weight: 400;
}
ul.products li.product:hover .product-details {
  opacity: 1;
  filter: alpha(opacity=@opacity * 100);
}
ul.products li.product:nth-child(2n + 1) {
  clear: both;
}
.woocommerce-result-count,
.woocommerce_ordering,
.woocommerce-ordering {
  font-size: .857em;
  color: #7a7a7a;
  margin-bottom: 1.618em;
}
.woocommerce-result-count + ul.products,
.woocommerce_ordering + ul.products,
.woocommerce-ordering + ul.products {
  clear: both;
}
.woocommerce-ordering,
.woocommerce_ordering {
  margin-bottom: 2.618em;
}
.woocommerce-ordering ul,
.woocommerce_ordering ul {
  *zoom: 1;
}
.woocommerce-ordering ul:after,
.woocommerce_ordering ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.woocommerce-ordering ul:before,
.woocommerce_ordering ul:before,
.woocommerce-ordering ul:after,
.woocommerce_ordering ul:after {
  content: "";
  display: table;
}
.woocommerce-ordering ul:after,
.woocommerce_ordering ul:after {
  clear: both;
}
.woocommerce-ordering ul li,
.woocommerce_ordering ul li {
  list-style: none;
}
.woocommerce-ordering ul li:first-child,
.woocommerce_ordering ul li:first-child {
  margin-left: 0;
}
.woocommerce-ordering ul li a,
.woocommerce_ordering ul li a {
  font-size: .875em;
  text-transform: uppercase;
  padding: .618em 1em;
  background: #eaeaea;
  color: #474747;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: 700;
  display: block;
}
.woocommerce-ordering ul li a:hover,
.woocommerce_ordering ul li a:hover {
  background: #e6e6e6;
  text-decoration: none;
}
.woocommerce-ordering ul li.selected a,
.woocommerce_ordering ul li.selected a {
  background: #474747;
  color: #f7f7f7;
}
.single-product .product {
  position: relative;
}
.single-product .product .onsale {
  position: absolute;
  top: 1em;
  left: 1em;
}
.single-product .single_variation_wrap .price {
  display: block;
  font-size: 2.224em;
  color: #141414;
}
.single-product form.cart {
  margin-bottom: 2.618em;
}
.single-product .quantity {
  float: left;
  margin: 0 1em 0 0;
}
.single-product .images img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}
.single-product .thumbnails {
  display: block;
  width: 108.33333333%;
  margin-left: -4.16666667%;
  margin-right: -4.16666667%;
  *width: 108.28125%;
  *margin-left: -4.21875%;
  *margin-right: -4.21875%;
  *zoom: 1;
}
.single-product .thumbnails:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.single-product .thumbnails:before,
.single-product .thumbnails:after {
  content: "";
  display: table;
}
.single-product .thumbnails:after {
  clear: both;
}
.single-product .thumbnails a {
  display: inline;
  float: left;
  width: 25%;
  margin-left: 4.16666667%;
  margin-right: 4.16666667%;
  *width: 24.94791667%;
  *margin-left: 4.11458333%;
  *margin-right: 4.11458333%;
  display: inline-block;
}
.single-product .thumbnails a.last {
  margin-right: 0;
}
.single-product .summary h1 {
  font-size: 1.416em;
}
.single-product .summary .price {
  font-size: 2.291em;
  color: #77cb6d;
  margin-bottom: .334em;
  font-weight: 700;
}
.single-product .summary .price del {
  font-size: .618em;
  color: #bebebe;
  font-weight: normal;
  margin-right: .382em;
}
.single-product .summary .price ins {
  text-decoration: none;
}
.single-product .summary #tab-description ul,
.single-product .summary #tab-description ol {
  margin-left: 1em;
}
.shipping_calculator h2 {
  font-size: 1.387em;
}
.shipping_calculator h2 a {
  display: block;
}
.shipping_calculator h2 a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: '\f0ac';
}
.shipping_calculator h2 a:hover {
  text-decoration: none;
}
a.reset_variations {
  display: block;
}
a.reset_variations:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f021";
}
ul.order_details {
  *zoom: 1;
  list-style: none;
  border: 1px solid #e6e6e6;
  position: relative;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: 0 !important;
}
ul.order_details:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
ul.order_details:before,
ul.order_details:after {
  content: "";
  display: table;
}
ul.order_details:after {
  clear: both;
}
ul.order_details li {
  float: left;
  padding: 1em 1.618em;
  border-right: 1px solid #e6e6e6;
  font-size: .8em;
  text-transform: uppercase;
  color: #9c9c9c;
}
ul.order_details li strong {
  display: block;
  font-size: 1.387em;
  text-transform: none;
  color: #474747;
}
table.my_account_orders {
  font-size: .875em;
}
table.my_account_orders .button {
  padding: .236em .618em;
  margin-right: .236em;
}
table.my_account_orders .button:last-child {
  margin-right: 0;
}
table.my_account_orders td.order-actions {
  min-width: 11.089em;
}
table.my_account_orders .order-date,
table.my_account_orders .order-status,
table.my_account_orders .order-total {
  display: none;
}
ul.digital-downloads li {
  list-style: none;
  margin-bottom: .618em;
  padding-bottom: .618em;
  border-bottom: 1px solid #e6e6e6;
}
ul.digital-downloads li .count {
  float: right;
}
ul.digital-downloads li a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f01a";
}
ul.digital-downloads li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.backorder_notification {
  font-size: .857em;
}
.backorder_notification:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f071";
}
dl.variation {
  *zoom: 1;
  font-size: .857em;
}
dl.variation:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
dl.variation:before,
dl.variation:after {
  content: "";
  display: table;
}
dl.variation:after {
  clear: both;
}
dl.variation dt {
  float: left;
  clear: left;
  margin-right: .236em;
}
dl.variation dd {
  margin-bottom: 0;
}
table.cart th.product-remove,
table.cart td.product-remove,
table.cart th.product-thumbnail,
table.cart td.product-thumbnail,
table.cart th.product-price,
table.cart td.product-price {
  display: none;
}
table.cart th {
  text-align: left;
}
table.cart td {
  vertical-align: middle;
  text-align: left;
}
table.cart td.product-remove {
  vertical-align: middle;
}
table.cart td.product-remove a {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 1.618em;
  height: 1.618em;
  line-height: 1.618;
  color: #db767b;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: 700;
  font-family: Verdana, sans-serif;
}
table.cart td.product-remove a:hover {
  background: #db767b;
  text-decoration: none;
  color: #ffffff;
}
table.cart td.product-thumbnail {
  text-align: center;
}
table.cart td.product-thumbnail img {
  max-width: none;
  width: 2.618em;
  height: 2.618em;
}
table.cart td.product-name a {
  font-weight: 700;
}
table.cart td.product-name dl.variation {
  margin: 0;
  font-style: italic;
}
table.cart td.product-quantity .quantity {
  margin: 0 auto;
}
table.cart td.product-subtotal {
  font-weight: 700;
}
table.cart .actions .coupon {
  margin: 0 0 1.618em;
  padding: .53em 0 1.618em;
  border-bottom: 1px solid #e6e6e6;
}
table.cart .actions .coupon label,
table.cart .actions .coupon input.input-text,
table.cart .actions .coupon .button {
  display: block;
  margin: 0 0 1em;
}
table.cart .actions .coupon label {
  display: none;
}
table.cart .actions .coupon input.input-text {
  width: 100%;
}
table.cart .actions .coupon .button {
  margin: 0;
}
table.cart .actions .button {
  display: block;
  margin: 0 0 1em;
  width: 100%;
}
.cross-sells ul.products {
  margin-left: 0;
}
#shipping_method {
  list-style: none;
  margin: 0;
}
#reviews .star-rating {
  float: right;
}
#reviews .comment {
  *zoom: 1;
  padding: 1em 0 0;
  position: relative;
}
#reviews .comment:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#reviews .comment:before,
#reviews .comment:after {
  content: "";
  display: table;
}
#reviews .comment:after {
  clear: both;
}
#reviews .comment img {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#reviews .comment .meta {
  font-weight: normal;
  font-style: italic;
  color: #7a7a7a;
}
#reviews .add_review {
  clear: both;
}
#payment {
  border: 1px solid #e6e6e6;
  *zoom: 1;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#payment:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#payment:before,
#payment:after {
  content: "";
  display: table;
}
#payment:after {
  clear: both;
}
#payment .create-account {
  clear: both;
}
#payment .payment_methods {
  margin: 0 !important;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 !important;
}
#payment .payment_methods li {
  list-style: none !important;
  padding: 1em !important;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 0;
  background: #ffffff;
}
#payment .payment_methods li img {
  float: right;
  border: 0;
  padding: 0;
}
#payment .payment_methods li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#payment .payment_methods li label {
  width: 92%;
  padding-top: 0 !important;
  margin-left: .618em;
  font-weight: bold;
}
#payment .payment_methods li p {
  margin-bottom: 0;
}
#payment .payment_methods li .payment_box {
  padding: 1em;
  margin: 1em -1em -1em -1em;
  background: #f7f7f7;
  border-top: 1px solid #e6e6e6;
}
#payment .payment_methods li .payment_box fieldset {
  border: 0;
  margin: 0;
  padding: 1em 0 0 0;
  font-size: .857em;
}
#payment .payment_methods li .payment_box fieldset label {
  width: auto;
  margin-left: 0;
}
#payment .payment_methods li .payment_box fieldset .form-row {
  margin-bottom: 1em;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select {
  width: 48%;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n) {
  float: right;
}
#payment .payment_methods li .payment_box fieldset #cvv {
  width: 22% !important;
}
#payment .payment_methods li .payment_box fieldset .help {
  width: 75%;
  float: right;
}
#payment .terms label {
  display: inline;
}
#payment .place-order {
  padding: 1em;
  margin-bottom: 0;
  float: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
#payment .place-order .button {
  font-size: 1.387em;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  #header {
    position: relative;
  }
  #header .widget_product_search {
    float: right;
    clear: none;
  }
  #header .nav.cart {
    float: none;
  }
  #header .cart-contents {
    display: block;
    text-align: right;
    width: 20.833333333333336%;
    position: absolute;
    top: 1.618em;
    right: 0;
    color: #474747;
  }
  #header .cart-contents span.price {
    display: block;
    font-size: 1.618em;
    font-weight: 700;
    margin-top: .382em;
  }
  #header .cart-contents span.contents {
    display: inline;
    font-size: .875em;
    text-transform: uppercase;
  }
  #header .cart-contents .amount:after {
    display: none;
  }
  #header .cart-contents:before {
    background: #77cb6d;
    color: #fff;
    height: 1em;
    width: 1em;
    font-size: 1.618em;
    float: right;
    margin: 0;
    padding: .618em;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    margin-left: .541em;
  }
  #header .cart-contents:hover {
    text-decoration: none;
  }
  #header .cart-contents:hover:before {
    background: #66ba5c;
  }
  #header .widget_product_search {
    display: none;
  }
  .col2-set {
    clear: both;
    *zoom: 1;
  }
  .col2-set:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .col2-set:before,
  .col2-set:after {
    content: "";
    display: table;
  }
  .col2-set:after {
    clear: both;
  }
  .col2-set .col-1 {
    width: 48%;
    float: left;
  }
  .col2-set .col-2 {
    width: 48%;
    float: right;
  }
  .form-row {
    width: 48%;
    float: left;
    margin-bottom: 2.053em;
  }
  .form-row label {
    display: block;
    padding: .236em 0;
  }
  .form-row label.checkbox {
    display: inline;
  }
  .form-row.notes {
    width: 100%;
    float: none;
  }
  .form-row.notes textarea {
    width: 100%;
    *width: 90%;
  }
  .form-row.notes + h3 {
    clear: both;
  }
  .form-row-first {
    clear: left;
  }
  .form-row-last {
    float: right;
  }
  .form-row-wide {
    float: left;
    width: 100%;
    clear: both;
  }
  .woocommerce-ordering,
  .woocommerce_ordering {
    margin-bottom: 2.618em;
  }
  .woocommerce-ordering ul li,
  .woocommerce_ordering ul li {
    float: left;
    margin-left: .618em;
  }
  .woocommerce-ordering ul li a,
  .woocommerce_ordering ul li a {
    display: inline-block;
  }
  header.title {
    overflow: hidden;
    zoom: 1;
  }
  header.title h1,
  header.title h2,
  header.title h3,
  header.title h4,
  header.title h5 {
    float: left;
  }
  header.title a.edit {
    float: right;
    font-weight: bold;
    line-height: 2.4em;
  }
  header.title a.edit:before {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 100%;
    margin-right: .618em;
    font-weight: normal;
    line-height: 1em;
    width: 1em;
    content: "\f044";
  }
  .woocommerce-result-count {
    width: 20.833333333333336%;
    float: left;
  }
  .woocommerce-ordering,
  .woocommerce_ordering {
    float: right;
    text-align: right;
    width: 73.7%;
  }
  .woocommerce-ordering ul,
  .woocommerce_ordering ul {
    float: right;
  }
  .layout-full .woocommerce-result-count,
  .layout-full .woocommerce-ordering,
  .layout-full .woocommerce_ordering {
    float: none;
    text-align: center;
    width: 100%;
  }
  .layout-full .woocommerce-ordering ul,
  .layout-full .woocommerce_ordering ul {
    float: none;
    text-align: center;
  }
  .layout-full .woocommerce-ordering ul li,
  .layout-full .woocommerce_ordering ul li {
    display: inline;
    float: none;
  }
  .layout-full.post-type-archive-product .page-description {
    text-align: center;
  }
  .layout-full.post-type-archive-product h1.page-title {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
  }
  ul.products li.product {
    margin-right: 3.8%;
    clear: none;
  }
  ul.products li.product:nth-child(2n + 1) {
    clear: none;
  }
  ul.products li.product:nth-child(2n) {
    float: left;
  }
  ul.products li.product.first {
    clear: both;
  }
  ul.products li.product.last {
    margin-right: 0;
  }
  .post-type-archive-product ul.products li.product {
    margin-bottom: 1.618em;
  }
  ul.products li.product .product-details {
    position: absolute;
    background: rgba(119, 203, 109, 0.95);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.334em solid #ffffff;
    color: #f7f7f7;
    padding: 1.618em;
    text-align: left;
    opacity: 0;
    filter: alpha(opacity=@opacity * 100);
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  ul.products li.product .product-details h3 {
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    border: 0 !important;
  }
  ul.products li.product .product-details .price {
    font-weight: 700;
  }
  ul.products li.product .product-details .star-rating {
    font-size: .875em;
    margin: 0 0 .618em;
  }
  ul.products li.product .product-details .star-rating:before {
    color: #44983a;
    content: "\f005\f005\f005\f005\f005";
  }
  ul.products li.product .product-details .star-rating span:before {
    color: #44983a;
  }
  ul.products li.product .button,
  ul.products li.product .added_to_cart {
    padding: .875em 1.416em;
    margin-bottom: 0;
  }
  ul.products li.product .added_to_cart {
    padding: .875em 0;
  }
  .woocommerce-columns-2 ul.products li.product {
    width: 48%;
  }
  .woocommerce-columns-3 ul.products li.product {
    width: 30.75%;
  }
  .woocommerce-columns-4 ul.products li.product {
    width: 22.05%;
  }
  .woocommerce-columns-5 ul.products li.product {
    width: 16.96%;
  }
  .layout-full .woocommerce-columns-2 ul.products {
    display: block;
    width: 104.16666667%;
    margin-left: -2.08333333%;
    margin-right: -2.08333333%;
    *width: 104.11458333%;
    *margin-left: -2.13541667%;
    *margin-right: -2.13541667%;
    *zoom: 1;
  }
  .layout-full .woocommerce-columns-2 ul.products:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .layout-full .woocommerce-columns-2 ul.products:before,
  .layout-full .woocommerce-columns-2 ul.products:after {
    content: "";
    display: table;
  }
  .layout-full .woocommerce-columns-2 ul.products:after {
    clear: both;
  }
  .layout-full .woocommerce-columns-2 ul.products li.product {
    display: inline;
    float: left;
    width: 45.83333333%;
    margin-left: 2.08333333%;
    margin-right: 2.08333333%;
    *width: 45.78125%;
    *margin-left: 2.03125%;
    *margin-right: 2.03125%;
  }
  .layout-full .woocommerce-columns-3 ul.products {
    display: block;
    width: 104.16666667%;
    margin-left: -2.08333333%;
    margin-right: -2.08333333%;
    *width: 104.11458333%;
    *margin-left: -2.13541667%;
    *margin-right: -2.13541667%;
    *zoom: 1;
  }
  .layout-full .woocommerce-columns-3 ul.products:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .layout-full .woocommerce-columns-3 ul.products:before,
  .layout-full .woocommerce-columns-3 ul.products:after {
    content: "";
    display: table;
  }
  .layout-full .woocommerce-columns-3 ul.products:after {
    clear: both;
  }
  .layout-full .woocommerce-columns-3 ul.products li.product {
    display: inline;
    float: left;
    width: 29.16666667%;
    margin-left: 2.08333333%;
    margin-right: 2.08333333%;
    *width: 29.11458333%;
    *margin-left: 2.03125%;
    *margin-right: 2.03125%;
  }
  .layout-full .woocommerce-columns-4 ul.products {
    display: block;
    width: 104.16666667%;
    margin-left: -2.08333333%;
    margin-right: -2.08333333%;
    *width: 104.11458333%;
    *margin-left: -2.13541667%;
    *margin-right: -2.13541667%;
    *zoom: 1;
  }
  .layout-full .woocommerce-columns-4 ul.products:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .layout-full .woocommerce-columns-4 ul.products:before,
  .layout-full .woocommerce-columns-4 ul.products:after {
    content: "";
    display: table;
  }
  .layout-full .woocommerce-columns-4 ul.products:after {
    clear: both;
  }
  .layout-full .woocommerce-columns-4 ul.products li.product {
    display: inline;
    float: left;
    width: 20.83333333%;
    margin-left: 2.08333333%;
    margin-right: 2.08333333%;
    *width: 20.78125%;
    *margin-left: 2.03125%;
    *margin-right: 2.03125%;
  }
  .home .layout-full.home {
    display: inline;
    float: left;
    width: 95.83333333%;
    margin-left: 2.08333333%;
    margin-right: 2.08333333%;
    *width: 95.78125%;
    *margin-left: 2.03125%;
    *margin-right: 2.03125%;
  }
  .home .brand-thumbnails {
    *zoom: 1;
    text-align: center;
  }
  .home .brand-thumbnails:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .home .brand-thumbnails:before,
  .home .brand-thumbnails:after {
    content: "";
    display: table;
  }
  .home .brand-thumbnails:after {
    clear: both;
  }
  .home .brand-thumbnails li {
    display: inline-block;
    width: auto !important;
    margin: 0 1% !important;
    float: none !important;
  }
  .home .brand-thumbnails li img {
    max-height: 2em;
    width: auto;
  }
  .single-product .images,
  .single-product .summary {
    width: 47.916666667%;
    margin-bottom: 1.618em;
  }
  .single-product .images {
    float: left;
  }
  .single-product .summary {
    float: right;
  }
  .single-product .summary table.variations {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .single-product .summary table.variations tbody {
    display: block;
    width: 108.33333333%;
    margin-left: -4.16666667%;
    margin-right: -4.16666667%;
    *width: 108.28125%;
    *margin-left: -4.21875%;
    *margin-right: -4.21875%;
    *zoom: 1;
  }
  .single-product .summary table.variations tbody:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .single-product .summary table.variations tbody:before,
  .single-product .summary table.variations tbody:after {
    content: "";
    display: table;
  }
  .single-product .summary table.variations tbody:after {
    clear: both;
  }
  .single-product .summary table.variations tr {
    display: inline;
    float: left;
    width: 41.66666667%;
    margin-left: 4.16666667%;
    margin-right: 4.16666667%;
    *width: 41.61458333%;
    *margin-left: 4.11458333%;
    *margin-right: 4.11458333%;
  }
  .single-product .summary table.variations tr td {
    width: 100%;
  }
  .single-product .summary table.variations th,
  .single-product .summary table.variations td {
    padding: 0;
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: list-item;
    list-style: none;
  }
  .single-product .summary table.variations .label {
    display: none;
  }
  .single-product .summary table.variations td select {
    width: 100%;
  }
  .single-product .summary table.group_table th,
  .single-product .summary table.group_table td {
    vertical-align: middle;
  }
  .single-product .summary table.group_table tr td:first-child {
    width: 4.236em;
  }
  .single-product .summary table.group_table tr td:first-child .quantity {
    margin: 0;
  }
  .single-product .summary table.group_table .price {
    font-size: 1em;
    width: 1.618em;
  }
  .single-product .upsells,
  .single-product .related {
    clear: both;
  }
  .single-product .upsells ul.products,
  .single-product .related ul.products {
    display: block;
    width: 106.25%;
    margin-left: -3.125%;
    margin-right: -3.125%;
    *width: 106.19791667%;
    *margin-left: -3.17708333%;
    *margin-right: -3.17708333%;
    *zoom: 1;
    margin-bottom: 0;
  }
  .single-product .upsells ul.products:after,
  .single-product .related ul.products:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .single-product .upsells ul.products:before,
  .single-product .related ul.products:before,
  .single-product .upsells ul.products:after,
  .single-product .related ul.products:after {
    content: "";
    display: table;
  }
  .single-product .upsells ul.products:after,
  .single-product .related ul.products:after {
    clear: both;
  }
  .single-product .upsells ul.products li.product,
  .single-product .related ul.products li.product {
    clear: none;
    display: inline;
    float: left;
    width: 18.75%;
    margin-left: 3.125%;
    margin-right: 3.125%;
    *width: 18.69791667%;
    *margin-left: 3.07291667%;
    *margin-right: 3.07291667%;
  }
  .single-product .upsells ul.products li.product.first,
  .single-product .related ul.products li.product.first {
    clear: both;
  }
  .single-product .woocommerce-tabs ul.tabs li.description_tab a,
  .single-product .woocommerce-tabs ul.tabs li.additional_information_tab a,
  .single-product .woocommerce-tabs ul.tabs li.reviews_tab a {
    text-indent: 0;
    position: relative;
    width: auto;
  }
  .single-product .woocommerce-tabs ul.tabs li.description_tab a:after,
  .single-product .woocommerce-tabs ul.tabs li.additional_information_tab a:after,
  .single-product .woocommerce-tabs ul.tabs li.reviews_tab a:after {
    display: none;
  }
  .layout-full .upsells ul.products,
  .layout-full .related ul.products {
    display: block;
    width: 104.16666667%;
    margin-left: -2.08333333%;
    margin-right: -2.08333333%;
    *width: 104.11458333%;
    *margin-left: -2.13541667%;
    *margin-right: -2.13541667%;
    *zoom: 1;
  }
  .layout-full .upsells ul.products:after,
  .layout-full .related ul.products:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .layout-full .upsells ul.products:before,
  .layout-full .related ul.products:before,
  .layout-full .upsells ul.products:after,
  .layout-full .related ul.products:after {
    content: "";
    display: table;
  }
  .layout-full .upsells ul.products:after,
  .layout-full .related ul.products:after {
    clear: both;
  }
  .layout-full .upsells ul.products li.product,
  .layout-full .related ul.products li.product {
    display: inline;
    float: left;
    width: 20.83333333%;
    margin-left: 2.08333333%;
    margin-right: 2.08333333%;
    *width: 20.78125%;
    *margin-left: 2.03125%;
    *margin-right: 2.03125%;
  }
  .layout-full .related {
    background: rgba(0, 0, 0, 0.025);
    padding-top: 1.618em;
    -webkit-box-shadow: 40em 0 0 0 rgba(0, 0, 0, 0.025), -40em 0 0 0 rgba(0, 0, 0, 0.025);
    box-shadow: 40em 0 0 0 rgba(0, 0, 0, 0.025), -40em 0 0 0 rgba(0, 0, 0, 0.025);
  }
  .layout-full .related h2 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 4.236em;
    text-align: center;
  }
  .layout-full.single-product .wrapper + .footer-shop {
    margin-top: -4.236em;
  }
  table.cart th.product-remove,
  table.cart td.product-remove,
  table.cart th.product-thumbnail,
  table.cart td.product-thumbnail,
  table.cart th.product-price,
  table.cart td.product-price {
    display: table-cell;
  }
  table.cart .actions {
    text-align: right;
    padding: .875em;
  }
  table.cart .actions .coupon {
    width: 50%;
    float: left;
    border: 0;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  table.cart .actions .coupon label,
  table.cart .actions .coupon input.input-text,
  table.cart .actions .coupon .button {
    display: inline;
    margin: 0;
  }
  table.cart .actions .coupon label {
    display: none;
  }
  table.cart .actions .coupon input.input-text {
    width: 57%;
  }
  table.cart .actions .coupon .button {
    float: none;
    width: auto;
    margin: 0 0 0 .541em;
  }
  table.cart .actions .button {
    width: auto;
    display: inline-block;
    margin: 0 0 0 .541em;
  }
  .cart-collaterals {
    *zoom: 1;
  }
  .cart-collaterals:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cart-collaterals:before,
  .cart-collaterals:after {
    content: "";
    display: table;
  }
  .cart-collaterals:after {
    clear: both;
  }
  .cart-collaterals .cross-sells,
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    width: 48%;
  }
  .cart-collaterals .cross-sells {
    float: left;
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    float: right;
    clear: right;
  }
  .cart-collaterals .shipping_calculator .shipping-calculator-form {
    *zoom: 1;
  }
  .cart-collaterals .shipping_calculator .shipping-calculator-form:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cart-collaterals .shipping_calculator .shipping-calculator-form:before,
  .cart-collaterals .shipping_calculator .shipping-calculator-form:after {
    content: "";
    display: table;
  }
  .cart-collaterals .shipping_calculator .shipping-calculator-form:after {
    clear: both;
  }
  .cart-collaterals .shipping_calculator .clear {
    clear: both;
  }
  table.my_account_orders .order-date,
  table.my_account_orders .order-status,
  table.my_account_orders .order-total {
    display: table-cell;
  }
  #customer_details #shiptobilling {
    float: right;
    width: auto;
    margin: 0;
  }
  #customer_details .notes {
    clear: both;
  }
}
